@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
    margin:0;
    padding: 0;

    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.header {
    margin:50px 100px 0 100px;
    display: grid;
    justify-items: center;
    gap:60px;
}

.nav {
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title1 {
    font-size: 24px;
    font-weight: bold;
}

.list {
    width:500px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap:20px;
}

.list li button {
    width:100%;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 10px;
    padding:10px 15px;
    cursor: pointer;

    font-size: 20px;
}

.list li button:hover {
    background-color: dimgrey;
    color: white;

}