@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
    margin:0;
    padding: 0;

    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.header {
    margin:50px 100px 0 100px;
    display: grid;
    justify-items: center;
    gap:100px;
}

.title1 {
    font-size: 24px;
    font-weight: bold;
}

.nav {
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section1 {
    margin:50px 100px 0 100px;
}

.form {
    width:80%;
    margin-inline: auto;
}

.list {
    list-style: none;
    display: grid;
}

.list li {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px 10px;
    border-bottom: 1px solid black;
    background-color: #e7f5dc;
}

.list li:first-child {
    background-color: #64ac8f;
    font-weight: bold;
    font-size: 18px;
    border-radius: 15px 15px 0 0;
}

.list li span:first-child {
    margin-left:50px;
}

.list li span input[type="number"] {
    padding:5px 10px;
    border-radius: 5px;
    border: 1px solid;
    outline: none;
}

.subBtn {
    display: block;
    margin-left: auto;
    font-size: 18px;
    margin-top: 20px;
    padding:10px 10px;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid black;
    cursor:pointer;
}

.subBtn:hover {
    background-color: #e7f5dc;
    border-color: #64ac8f;
    color: black;
}
